include ../templates/global-vars
include ../templates/global-mixins
include ../templates/mixins/m-header


block vars
block project_vars

doctype
html(lang="en" data-template-name= array.template_name)
	head
		+head(array)
	body(class= array.body_class)
		.preloader
		+header

				block content_block
